body{
    margin: 10px;
}

form {
    display: grid;
    grid-template-columns: 100px 250px 100px;
    grid-template-rows: 30px 200px 30px 30px;
    gap: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 0;
    max-width: 450px;
}

input {
 height: 20px;
}

#frontcard, #backcard {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: lightgray;
    border-radius: 10px;
    /* height: 225px; */
    box-shadow: 3px 3px 5px rgb(61, 61, 61);   
}

#frontcard {
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 20px;
    z-index: 2;
    gap: 10px;
}
#backcard {
    grid-column: 2/4;
    grid-row: 2/4;
    padding: 15px, 0;
    margin: 0 15px;
    z-index: 1;
}

button {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  justify-self: center;
  align-self: center;

  padding: 10px 20px;     
  background-color: rgb(55, 130, 42);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#total {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 20px;
}

#icon {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: right;
    font-size: 30px;
}
#cardnumber {
    grid-column: 1/3;
    grid-row: 2/3;
}

#cardholder {
    grid-column: 1/2;
    grid-row: 3/4;
}   

#expdate {
    grid-column: 2/3;
    grid-row: 3/4;
}

#expdate input {
    width: 35%;
   display: inline-block;
}

#magneticstrip {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: black;
    height: 40px;
    margin-top: 20px;
}
#cvvbox {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 50px 20px 0 0;


}

#cvvbox input {
    width: 55px;
}

